interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=0
    response:
      body:
        string: '{"hits":652,"took":87,"items":[]}'
      headers:
        CMR-Hits:
          - "652"
        CMR-Request-Id:
          - 1c2deff0-d01c-4dda-9de3-77a6ded34677
        CMR-Took:
          - "87"
        Content-MD5:
          - ae15f633dfa31893d210a8980e47fd64
        Content-SHA1:
          - 3fa615404ef393f4da5473595c139ed933fc5097
        Content-Type:
          - application/vnd.nasa.cmr.umm_results+json;version=1.6.5; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?short_name=TELLUS_GRAC_L3_JPL_RL06_LND_v04&page_size=2000
    response:
      body:
        string:
          '{"hits":163,"took":243,"items":[{"meta":{"concept-type":"granule","concept-id":"G2658326635-POCLOUD","revision-id":2,"native-id":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04","collection-concept-id":"C2077042612-POCLOUD","provider-id":"POCLOUD","format":"application/vnd.nasa.cmr.umm+json","revision-date":"2023-04-17T15:28:14.157Z"},"umm":{"TemporalExtent":{"RangeDateTime":{"EndingDateTime":"2002-04-30T23:59:59.000Z","BeginningDateTime":"2002-04-04T00:00:00.000Z"}},"MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/granule/v1.6.5","Name":"UMM-G","Version":"1.6.5"},"GranuleUR":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04","ProviderDates":[{"Type":"Insert","Date":"2023-04-17T15:27:21.021Z"},{"Type":"Update","Date":"2023-04-17T15:27:21.022Z"}],"SpatialExtent":{"HorizontalSpatialDomain":{"Geometry":{"BoundingRectangles":[{"WestBoundingCoordinate":0.5,"SouthBoundingCoordinate":-89.5,"EastBoundingCoordinate":180,"NorthBoundingCoordinate":89.5},{"WestBoundingCoordinate":-180,"SouthBoundingCoordinate":-89.5,"EastBoundingCoordinate":-0.5,"NorthBoundingCoordinate":89.5}]}}},"DataGranule":{"ArchiveAndDistributionInformation":[{"SizeUnit":"MB","Size":1.0474653244018555,"Checksum":{"Value":"cdb8ba3cff9617e88b3da89b5c84dc25","Algorithm":"MD5"},"SizeInBytes":1098347,"Name":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc"},{"SizeUnit":"MB","Size":0.5008010864257812,"Checksum":{"Value":"95848b32fe418a4ea9c8cca1ccf4f92e","Algorithm":"MD5"},"SizeInBytes":525128,"Name":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.tif"},{"SizeUnit":"MB","Size":3.774651527404785,"Checksum":{"Value":"8f48e0b8e51bda5acf5118d442e92baf","Algorithm":"MD5"},"SizeInBytes":3958009,"Name":"GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.txt"}],"DayNightFlag":"Unspecified","ProductionDateTime":"2021-04-28T09:58:11.000Z"},"CollectionReference":{"Version":"RL06v04","ShortName":"TELLUS_GRAC_L3_JPL_RL06_LND_v04"},"RelatedUrls":[{"URL":"https://archive.podaac.earthdata.nasa.gov/podaac-ops-cumulus-protected/TELLUS_GRAC_L3_JPL_RL06_LND_v04/GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc","Description":"Download
          GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc","Type":"GET DATA"},{"URL":"s3://podaac-ops-cumulus-protected/TELLUS_GRAC_L3_JPL_RL06_LND_v04/GRD-3_2002094-2002120_GRAC_JPLEM_BA01_0600_LND_v04.nc","Description":"This
          link provides direct download access via S3 to the granule","Type":"GET DATA
          VIA DIRECT ACCESS"},{"URL":"https://archive.podaac.earthdata.nasa.gov/podaac-ops-cumulus-public/TELLUS_GRAC_L3_JPL_RL06_LND_v04/GRD-3_2002094-2002120_GRAC_JPLEM[...]
