interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://urs.earthdata.nasa.gov/api/users/find_or_create_token
  response:
    body:
      string: ACCESS_TOKEN
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"590cf1926ed1115e604c42d0d4512bee"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/profile
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://urs.earthdata.nasa.gov/home
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/home
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8
        lt-ie7\"> <![endif]-->\n<!--[if IE 7]><html class=\"no-js lt-ie9 lt-ie8\">
        <![endif]-->\n<!--[if IE 8]><html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if
        gt IE 8]><!--><html lang=\"en\" class=\"no-js\"><!--<![endif]-->\n  <head>\n
        \   <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \   <title>Earthdata Login</title>\n    <meta name=\"description\" content=\"Earthdata
        Login\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
        \   <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(\n\n
        \     {'gtm.start': new Date().getTime(),event:'gtm.js'}\n\n    );var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-WNP7MLF');</script>\n    <!--
        End Google Tag Manager -->\n\n    <link href=\"https://cdn.earthdata.nasa.gov/eui/1.1.3/stylesheets/application.css\"
        rel=\"stylesheet\" />\n    <link rel=\"stylesheet\" href=\"/assets/application-64364ee22ca4035f3a902011ad2ee0e14fda4692609e039fb147934a44a3577f.css\"
        media=\"all\" />\n    <!--[if IE 7]>\n      <link rel=\"stylesheet\" href=\"/assets/font-awesome-ie7.min.css\">\n
        \   <![endif]-->\n    <link href=\"//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\"
        rel=\"stylesheet\">\n    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700'
        rel='stylesheet' type='text/css'>\n    <meta name=\"csrf-param\" content=\"authenticity_token\"
        />\n<meta name=\"csrf-token\" content=\"aNMuwusJbXooRAe-pTOGhKVUdUjH8y9K45aAIDABaocqJPvl31pteO_P4tDuM3_itHuE6rue5FJU2jf5RziCrQ\"
        />\n    \n\n    <!-- Grid background: http://subtlepatterns.com/graphy/ -->\n
        \ </head>\n  <body class=\"static_pages home\" data-turbolinks-eval=false>\n\n
        \   <!-- Google Tag Manager (noscript) -->\n    <noscript>\n      <iframe
        src=\"https://www.googletagmanager.com/ns.html?id=GTM-WNP7MLF\"\n                    height=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe>\n    </noscript>\n
        \   <!-- End Google Tag Manager (noscript) -->\n\n    <header id=\"earthdata-tophat2\"
        style=\"height: 32px;\"></header>\n    <!--[if lt IE 7]>\n      <p class=\"chromeframe\">You
        are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade
        your browser</a> or <a href=\"http://www.google.com/chromeframe/?redirect=true\">activate
        Google Chrome Frame</a> to improve your experience.</p>\n    <![endif]-->\n
        \   <div class=\"container\">\n      <header role=\"banner\">\n  <div id=\"masthead-logo\">\n
        \   <h1><a class=\"ir\" href=\"/\">Earthdata Login</a></h1>\n    <span class=\"eui-badge
        badge daac\">Earthdata Login</span>\n  </div>\n  <a id=\"hamburger\" href=\"#\"><img
        title=\"Mobile Menu\" alt=\"Three horizontal lines stacked\" src=\"/assets/hamburger-68c8505066427f3e3f6ee40b24cfd3c9f7c0fe93ee298b9046564637262115fa.png\"
        /></a>\n  <nav role=\"navigation\" class=\"masthead\">\n\n    <div id=\"hide\">\n
        \     <ul>\n        <li><strong><a href=\"/documentation\">Documentation</a></strong></li>\n
        \     </ul>\n    </div>\n  </nav>\n</header>\n\n          <div class=\"eui-banner--danger\">\n
        \     You must be logged in to access this page\n    </div>\n\n\n\n\n\n\n\n\n
        \     <section id=\"callout-login\">\n  <form id=\"login\" action=\"/login\"
        accept-charset=\"UTF-8\" method=\"post\"><input name=\"utf8\" type=\"hidden\"
        value=\"&#x2713;\" autocomplete=\"off\" /><input type=\"hidden\" name=\"authenticity_token\"
        value=\"VbZlDoMrh0e6lzXZ8NF9EkZUikRcN9ZiyXiCres8fcsXQbApt3iHRX0c0Le70YR0V3t75iBaHXp-NDV0nAWV4Q\"
        autocomplete=\"off\" />\n  <p>\n    <label for=\"username\">Username</label>\n
        \   <i class=\"fa fa-question-circle fa-question-circle--blue user-name\"
        title=\"Login using either your Username or Email Address\"></i>\n    <input
        type=\"text\" name=\"username\" id=\"username\" autofocus=\"autofocus\" class=\"default\"
        />\n  </p>\n  <p>\n    <label for=\"password\">Password</label><br />\n    <input
        type=\"password\" name=\"password\" id=\"password\" autocomplete=\"off\" class=\"password\"
        />\n    <span class=\"password-showhide hide-password\">\n  </p>\n  <p>\n
        \   <input type=\"hidden\" name=\"client_id\" id=\"client_id\" autocomplete=\"off\"
        />\n  </p>\n  <p>\n    <input type=\"hidden\" name=\"redirect_uri\" id=\"redirect_uri\"
        autocomplete=\"off\" />\n  </p>\n  \n  <p class=\"button-with-notes\">\n    <input
        type=\"submit\" name=\"commit\" value=\"Log in\" class=\"eui-btn--round eui-btn--green\"
        data-disable-with=\"Log in\" />\n    <a class=\"eui-btn--round eui-btn--blue\"
        href=\"/users/new\">Register</a>\n  </p>\n  <p class=\"form-instructions\">\n
        \   <em class=\"icon-question-sign\"></em>\n    <a class=\"\" href=\"/retrieve_info\">I
        don&rsquo;t remember my username</a>\n    <br /><em class=\"icon-question-sign\"></em>\n
        \   <a class=\"\" href=\"/reset_passwords/new\">I don&rsquo;t remember my
        password</a>\n    <br />\n    <em class=\"icon-question-sign\"></em>\n    <a
        href=\"javascript:feedback.showForm();\" title = \"Need Help? Click on the
        Feedback button to request help\">Help</a>\n  </p>\n</form>\n<aside class=\"govt-msg\">\n
        \ <div class=\"nasa-logo\"></div>\n  <p>\n    <strong>Why must I register?</strong>\n
        \ </p>\n  <p>\n    The Earthdata Login provides a single mechanism for user
        registration and profile management for all EOSDIS system components (DAACs,
        Tools, Services).\n    Your Earthdata login also helps the EOSDIS program
        better understand the usage of EOSDIS services to improve user experience
        through customization of tools and improvement of services.\n    EOSDIS data
        are openly available to all and free of charge except where governed by international
        agreements.\n  </p>\n</aside>\n\n</section>\n<section id=\"cta\">\n  <h3>Get
        single sign-on access to all your favorite EOSDIS sites</h3>\n      <a class=\"eui-btn--round
        eui-btn--blue\" href=\"/users/new\">Register for a Profile</a>\n</section>\n<div
        class=\"info-box\">\n  <strong> \n    By clicking the Log In  button above,
        you are acknowledging that all Earthdata Login applications running in <a
        href=\"https://earthdata.nasa.gov/about/daacs\">DAACs</a> \n    will have
        access to my profile information. \n  </strong>\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2004184019-POCLOUD&page_size=0
  response:
    body:
      string: '{"hits":1,"took":7,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - b000f783-0472-425f-a2e1-3dbc7b2c7277
      CMR-Took:
      - '8'
      Content-MD5:
      - 1d29f85ba392faa4575b192b81088d1f
      Content-SHA1:
      - 431c84ed03259d3c0c84d440bfc81c732c3633f7
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2004184019-POCLOUD&page_size=1
  response:
    body:
      string: '{"hits":1,"took":16,"items":[{"meta":{"revision-id":5,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"POCLOUD","user-id":"mgangl","associations":{"collections":["C1990404819-POCLOUD","C2491756015-POCLOUD","C2036882319-POCLOUD","C2491772323-POCLOUD","C2301137082-POCLOUD","C2036877626-POCLOUD","C2006849257-POCLOUD","C2491756487-POCLOUD","C2628600898-POCLOUD","C2491735309-POCLOUD","C2491772353-POCLOUD","C2036877565-POCLOUD","C2619443894-POCLOUD","C2491772349-POCLOUD","C1991543824-POCLOUD","C2491757169-POCLOUD","C2706524255-POCLOUD","C2301136997-POCLOUD","C2036878688-POCLOUD","C1991543763-POCLOUD","C2036882482-POCLOUD","C2491772266-POCLOUD","C2491772339-PO[...]
