interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.umm_json?short_name=MUR-JPL-L4-GLOB-v4.1&cloud_hosted=true&temporal%5B%5D=2024-02-27T00:00:00Z,2024-02-29T00:00:00Z&page_size=0
  response:
    body:
      string: '{"hits":1,"took":294,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - b4f6fb05-5737-40f9-ba89-cb98a3c2928a
      CMR-Took:
      - '295'
      Content-MD5:
      - 9eadade2257338f4a5dc13ac4c5d0d65
      Content-SHA1:
      - a3c3274d7b50b8b7b5063d05372590a5b8cc54ea
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.18.1; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.umm_json?short_name=MUR-JPL-L4-GLOB-v4.1&cloud_hosted=true&temporal%5B%5D=2024-02-27T00:00:00Z,2024-02-29T00:00:00Z&page_size=1
  response:
    body:
      string: "{\"hits\":1,\"took\":304,\"items\":[{\"meta\":{\"revision-id\":38,\"deleted\":false,\"format\":\"application/vnd.nasa.cmr.umm+json\",\"provider-id\":\"POCLOUD\",\"has-combine\":true,\"user-id\":\"wenhaoli\",\"has-formats\":true,\"associations\":{\"variables\":[\"V2262655973-POCLOUD\",\"V2112015425-POCLOUD\",\"V2028632047-POCLOUD\",\"V2112015422-POCLOUD\",\"V2028668049-POCLOUD\",\"V2028632042-POCLOUD\",\"V2112015420-POCLOUD\",\"V2028632044-POCLOUD\"],\"services\":[\"S2839491596-XYZ_PROV\",\"S2164732315-XYZ_PROV\",\"S2004184019-POCLOUD\",\"S2874702816-XYZ_PROV\",\"S2606110201-XYZ_PROV\"],\"tools\":[\"TL2108419875-POCLOUD\",\"TL2245207664-POCLOUD\"]},\"s3-links\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"has-spatial-subsetting\":true,\"native-id\":\"GHRSST+Level+4+MUR+Global+Foundation+Sea+Surface+Temperature+Analysis+(v4.1)\",\"has-transforms\":false,\"association-details\":{\"variables\":[{\"concept-id\":\"V2262655973-POCLOUD\"},{\"concept-id\":\"V2112015425-POCLOUD\"},{\"concept-id\":\"V2028632047-POCLOUD\"},{\"concept-id\":\"V2112015422-POCLOUD\"},{\"concept-id\":\"V2028668049-POCLOUD\"},{\"concept-id\":\"V2028632042-POCLOUD\"},{\"concept-id\":\"V2112015420-POCLOUD\"},{\"concept-id\":\"V2028632044-POCLOUD\"}],\"services\":[{\"concept-id\":\"S2839491596-XYZ_PROV\"},{\"concept-id\":\"S2164732315-XYZ_PROV\"},{\"concept-id\":\"S2004184019-POCLOUD\"},{\"concept-id\":\"S2874702816-XYZ_PROV\"},{\"concept-id\":\"S2606110201-XYZ_PROV\"}],\"tools\":[{\"concept-id\":\"TL2108419875-POCLOUD\"},{\"concept-id\":\"TL2245207664-POCLOUD\"}]},\"has-variables\":true,\"concept-id\":\"C1996881146-POCLOUD\",\"revision-date\":\"2023-05-30T16:42:26.806Z\",\"granule-count\":3,\"has-temporal-subsetting\":true,\"concept-type\":\"collection\"},\"umm\":{\"DataLanguage\":\"eng\",\"AncillaryKeywords\":[\"GHRSST\",\"sea
        surface temperature\",\"Level 4\",\"SST\",\"surface temperature\",\" MUR\",\"
        foundation SST\",\" SST anomaly\",\" anomaly\"],\"CollectionCitations\":[{\"Creator\":\"JPL
        MUR MEaSUREs Project\",\"OnlineResource\":{\"Linkage\":\"https://podaac.jpl.nasa.gov/MEaSUREs-MUR\"},\"Publisher\":\"JPL
        NASA\",\"Title\":\"GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis\",\"SeriesName\":\"GHRSST Level 4 MUR Global Foundation Sea Surface
        Temperature Analysis\",\"OtherCitationDetails\":\"JPL MUR MEaSUREs Project,
        JPL NASA, 2015-03-11, GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis (v4.1)\",\"ReleaseDate\":\"2015-03-11T00:00:00.000Z\",\"Version\":\"4.1\",\"ReleasePlace\":\"Jet
        Propulsion Laboratory\"}],\"AdditionalAttributes\":[{\"Name\":\"earliest_granule_start_time\",\"Description\":\"Earliest
        Granule Start Time for dataset.\",\"Value\":\"2002-06-01T09:00:00.000Z\",\"DataType\":\"DATETIME\"},{\"Name\":\"latest_granule_end_time\",\"Description\":\"Latest
        Granule Stop/End Time for dataset.\",\"Value\":\"2021-01-25T09:00:00.000Z\",\"DataType\":\"DATETIME\"},{\"Name\":\"Series
        Name\",\"Description\":\"Dataset citation series name\",\"Value\":\"GHRSST
        Level 4 MUR Global Foundation Sea Surface Temperature Analysis\",\"DataType\":\"STRING\"},{\"Name\":\"Persistent
        ID\",\"Description\":\"Dataset Persistent ID\",\"Value\":\"PODAAC-GHGMR-4FJ04\",\"DataType\":\"STRING\"}],\"SpatialExtent\":{\"SpatialCoverageType\":\"HORIZONTAL\",\"HorizontalSpatialDomain\":{\"Geometry\":{\"CoordinateSystem\":\"CARTESIAN\",\"BoundingRectangles\":[{\"NorthBoundingCoordinate\":90.0,\"WestBoundingCoordinate\":-180.0,\"EastBoundingCoordinate\":180.0,\"SouthBoundingCoordinate\":-90.0}]},\"ResolutionAndCoordinateSystem\":{\"Description\":\"Projection
        Type: Cylindrical Lat-Lon, Projection Detail: Geolocation information included
        for each pixel\",\"GeodeticModel\":{\"HorizontalDatumName\":\"World Geodetic
        System 1984\",\"EllipsoidName\":\"WGS 84\",\"SemiMajorAxis\":6378137.0,\"DenominatorOfFlatteningRatio\":298.2572236},\"HorizontalDataResolution\":{\"GenericResolutions\":[{\"XDimension\":0.01,\"YDimension\":0.01,\"Unit\":\"Decimal
        Degrees\"}]}}},\"GranuleSpatialRepresentation\":\"CARTESIAN\"},\"CollectionProgress\":\"ACTIVE\",\"ScienceKeywords\":[{\"Category\":\"EARTH
        SCIENCE\",\"Topic\":\"OCEANS\",\"Term\":\"OCEAN TEMPERATURE\",\"VariableLevel1\":\"SEA
        SURFACE TEMPERATURE\",\"DetailedVariable\":\"FOUNDATION SEA SURFACE TEMPERATURE\"}],\"TemporalExtents\":[{\"RangeDateTimes\":[{\"BeginningDateTime\":\"2002-05-31T21:00:00.000Z\"}]}],\"ProcessingLevel\":{\"Id\":\"4\",\"ProcessingLevelDescription\":\"Level
        4  following GHRSST Data Specification\"},\"DOI\":{\"DOI\":\"10.5067/GHGMR-4FJ04\",\"Authority\":\"https://doi.org\"},\"ShortName\":\"MUR-JPL-L4-GLOB-v4.1\",\"EntryTitle\":\"GHRSST
        Level 4 MUR Global Foundation Sea Surface Temperature Analysis (v4.1)\",\"PublicationReferences\":[{\"Title\":\"
        A multi-scale high-resolution analysis of global sea surface temperature\",\"Publisher\":\"Remote
        Sensing of Environment \",\"DOI\":{\"DOI\":\"https://doi.org/10.1016/j.rse.2017.07.029\\r\\n\"},\"Author\":\"Chin,
        T.M,  J. Vazquez-Cuervo, and E.M. Armstrong\",\"PublicationDate\":\"2017-10-01T00:00:00.000Z\",\"Volume\":\"200
        \",\"Pages\":\"154-169\"}],\"DirectDistributionInformation\":{\"Region\":\"us-west-2\",\"S3BucketAndObjectPrefixNames\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"S3CredentialsAPIEndpoint\":\"https://archive.podaac.earthdata.nasa.gov/s3credentials\",\"S3CredentialsAPIDocumentationURL\":\"https://archive.podaac.earthdata.nasa.gov/s3credentialsREADME\"},\"RelatedUrls\":[{\"Description\":\"Group
        for High Resolution Sea Surface Temperature Information\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://ghrsst.jpl.nasa.gov\"},{\"Description\":\"Homepage
        for the NASA MEaSUREs projects\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://earthdata.nasa.gov/esds/competitive-programs/measures/mur-sst\"},{\"Description\":\"Chin
        T.M., Milliff R.F., Large W.G. (1998). Basin-scale, high-wavenumber sea surface
        wind fields from a multiresolution analysis of scatterometer data. Journa[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://urs.earthdata.nasa.gov/api/users/find_or_create_token
  response:
    body:
      string: ACCESS_TOKEN
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"590cf1926ed1115e604c42d0d4512bee"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/profile
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://urs.earthdata.nasa.gov/home
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/home
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8
        lt-ie7\"> <![endif]-->\n<!--[if IE 7]><html class=\"no-js lt-ie9 lt-ie8\">
        <![endif]-->\n<!--[if IE 8]><html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if
        gt IE 8]><!--><html lang=\"en\" class=\"no-js\"><!--<![endif]-->\n  <head>\n
        \   <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \   <title>Earthdata Login</title>\n    <meta name=\"description\" content=\"Earthdata
        Login\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
        \   <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(\n\n
        \     {'gtm.start': new Date().getTime(),event:'gtm.js'}\n\n    );var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-WNP7MLF');</script>\n    <!--
        End Google Tag Manager -->\n\n    <link href=\"https://cdn.earthdata.nasa.gov/eui/1.1.3/stylesheets/application.css\"
        rel=\"stylesheet\" />\n    <link rel=\"stylesheet\" href=\"/assets/application-64364ee22ca4035f3a902011ad2ee0e14fda4692609e039fb147934a44a3577f.css\"
        media=\"all\" />\n    <!--[if IE 7]>\n      <link rel=\"stylesheet\" href=\"/assets/font-awesome-ie7.min.css\">\n
        \   <![endif]-->\n    <link href=\"//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\"
        rel=\"stylesheet\">\n    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700'
        rel='stylesheet' type='text/css'>\n    <meta name=\"csrf-param\" content=\"authenticity_token\"
        />\n<meta name=\"csrf-token\" content=\"ijgpaHlH5wMoPKIkfCSkA9_zcWPoKWYIJOgHaf9MA_otzrgD_qndgeJHhuJI8r5sWFog5_-eKmoQOqAAvGUvsQ\"
        />\n    \n\n    <!-- Grid background: http://subtlepatterns.com/graphy/ -->\n
        \ </head>\n  <body class=\"static_pages home\" data-turbolinks-eval=false>\n\n
        \   <!-- Google Tag Manager (noscript) -->\n    <noscript>\n      <iframe
        src=\"https://www.googletagmanager.com/ns.html?id=GTM-WNP7MLF\"\n                    height=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe>\n    </noscript>\n
        \   <!-- End Google Tag Manager (noscript) -->\n\n    <header id=\"earthdata-tophat2\"
        style=\"height: 32px;\"></header>\n    <!--[if lt IE 7]>\n      <p class=\"chromeframe\">You
        are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade
        your browser</a> or <a href=\"http://www.google.com/chromeframe/?redirect=true\">activate
        Google Chrome Frame</a> to improve your experience.</p>\n    <![endif]-->\n
        \   <div class=\"container\">\n      <header role=\"banner\">\n  <div id=\"masthead-logo\">\n
        \   <h1><a class=\"ir\" href=\"/\">Earthdata Login</a></h1>\n    <span class=\"eui-badge
        badge daac\">Earthdata Login</span>\n  </div>\n  <a id=\"hamburger\" href=\"#\"><img
        title=\"Mobile Menu\" alt=\"Three horizontal lines stacked\" src=\"/assets/hamburger-68c8505066427f3e3f6ee40b24cfd3c9f7c0fe93ee298b9046564637262115fa.png\"
        /></a>\n  <nav role=\"navigation\" class=\"masthead\">\n\n    <div id=\"hide\">\n
        \     <ul>\n        <li><strong><a href=\"/documentation\">Documentation</a></strong></li>\n
        \     </ul>\n    </div>\n  </nav>\n</header>\n\n          <div class=\"eui-banner--danger\">\n
        \     You must be logged in to access this page\n    </div>\n\n\n\n\n\n\n\n\n
        \     <section id=\"callout-login\">\n  <form id=\"login\" action=\"/login\"
        accept-charset=\"UTF-8\" method=\"post\"><input name=\"utf8\" type=\"hidden\"
        value=\"&#x2713;\" autocomplete=\"off\" /><input type=\"hidden\" name=\"authenticity_token\"
        value=\"OF7Uh2i-yuBHsg9GKMZsuCGWTvGP8pCYTm7R8xIZJUOfqEXs71DwYo3JK4AcEHbXpj8fdZhF3Pp6vHaaUTAJCA\"
        autocomplete=\"off\" />\n  <p>\n    <label for=\"username\">Username</label>\n
        \   <i class=\"fa fa-question-circle fa-question-circle--blue user-name\"
        title=\"Login using either your Username or Email Address\"></i>\n    <input
        type=\"text\" name=\"username\" id=\"username\" autofocus=\"autofocus\" class=\"default\"
        />\n  </p>\n  <p>\n    <label for=\"password\">Password</label><br />\n    <input
        type=\"password\" name=\"password\" id=\"password\" autocomplete=\"off\" class=\"password\"
        />\n    <span class=\"password-showhide hide-password\">\n  </p>\n  <p>\n
        \   <input type=\"hidden\" name=\"client_id\" id=\"client_id\" autocomplete=\"off\"
        />\n  </p>\n  <p>\n    <input type=\"hidden\" name=\"redirect_uri\" id=\"redirect_uri\"
        autocomplete=\"off\" />\n  </p>\n  \n  <p class=\"button-with-notes\">\n    <input
        type=\"submit\" name=\"commit\" value=\"Log in\" class=\"eui-btn--round eui-btn--green\"
        data-disable-with=\"Log in\" />\n    <a class=\"eui-btn--round eui-btn--blue\"
        href=\"/users/new\">Register</a>\n  </p>\n  <p class=\"form-instructions\">\n
        \   <em class=\"icon-question-sign\"></em>\n    <a class=\"\" href=\"/retrieve_info\">I
        don&rsquo;t remember my username</a>\n    <br /><em class=\"icon-question-sign\"></em>\n
        \   <a class=\"\" href=\"/reset_passwords/new\">I don&rsquo;t remember my
        password</a>\n    <br />\n    <em class=\"icon-question-sign\"></em>\n    <a
        href=\"javascript:feedback.showForm();\" title = \"Need Help? Click on the
        Feedback button to request help\">Help</a>\n  </p>\n</form>\n<aside class=\"govt-msg\">\n
        \ <div class=\"nasa-logo\"></div>\n  <p>\n    <strong>Why must I register?</strong>\n
        \ </p>\n  <p>\n    The Earthdata Login provides a single mechanism for user
        registration and profile management for all EOSDIS system components (DAACs,
        Tools, Services).\n    Your Earthdata login also helps the EOSDIS program
        better understand the usage of EOSDIS services to improve user experience
        through customization of tools and improvement of services.\n    EOSDIS data
        are openly available to all and free of charge except where governed by international
        agreements.\n  </p>\n</aside>\n\n</section>\n<section id=\"cta\">\n  <h3>Get
        single sign-on access to all your favorite EOSDIS sites</h3>\n      <a class=\"eui-btn--round
        eui-btn--blue\" href=\"/users/new\">Register for a Profile</a>\n</section>\n<div
        class=\"info-box\">\n  <strong> \n    By clicking the Log In  button above,
        you are acknowledging that all Earthdata Login applications running in <a
        href=\"https://earthdata.nasa.gov/about/daacs\">DAACs</a> \n    will have
        access to my profile information. \n  </strong>\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2839491596-XYZ_PROV&page_size=0
  response:
    body:
      string: '{"hits":1,"took":3,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 4ee5b44e-cb18-4760-9254-a08214ac5868
      CMR-Took:
      - '4'
      Content-MD5:
      - 848dbc4d7551eccda0016ed75f413bc9
      Content-SHA1:
      - a92196947c37ef2b2645b16efb4484b360653ac1
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2839491596-XYZ_PROV&page_size=1
  response:
    body:
      string: '{"hits":1,"took":18,"items":[{"meta":{"revision-id":3,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"XYZ_PROV","user-id":"olittlej","associations":{"collections":["C2301137194-POCLOUD","C2301137251-POCLOUD","C2133160276-POCLOUD","C2006849866-POCLOUD","C2301137236-POCLOUD","C1991543700-POCLOUD","C2301137269-POCLOUD","C2301137185-POCLOUD","C2491735295-POCLOUD","C1996881146-POCLOUD","C2301137116-POCLOUD","C1991543808-POCLOUD","C2301137273-POCLOUD","C1990404812-POCLOUD","C2589160971-POCLOUD","C2301137089-POCLOUD","C1991543731-POCLOUD","C2301137093-POCLOUD","C1991543768-POCLOUD","C1991543735-POCLOUD","C2301137032-POCLOUD","C2731041317-POCLOUD","C2301137045-PO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2004184019-POCLOUD&page_size=0
  response:
    body:
      string: '{"hits":1,"took":3,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 9f2f7d2f-33e8-4f6a-aeeb-b414f6f7877d
      CMR-Took:
      - '4'
      Content-MD5:
      - 848dbc4d7551eccda0016ed75f413bc9
      Content-SHA1:
      - a92196947c37ef2b2645b16efb4484b360653ac1
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2606110201-XYZ_PROV&page_size=1
  response:
    body:
      string: '{"hits":1,"took":24,"items":[{"meta":{"revision-id":4,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"XYZ_PROV","user-id":"olittlej","associations":{"collections":["C1214354031-ASF","C1595422627-ASF","C1756916832-XYZ_PROV","C1808440897-ASF","C1990404801-POCLOUD","C1996881146-POCLOUD","C2011599335-ASF","C2574931653-LARC_ASDC"]},"native-id":"mmt_service_28094","association-details":{"collections":[{"concept-id":"C1214354031-ASF"},{"concept-id":"C1595422627-ASF"},{"concept-id":"C1756916832-XYZ_PROV"},{"concept-id":"C1808440897-ASF"},{"concept-id":"C1990404801-POCLOUD"},{"concept-id":"C1996881146-POCLOUD"},{"concept-id":"C2011599335-ASF"},{"concept-id":"C2574931653-LARC_ASDC"}]},"concept-id":"S2606110201-XYZ_PROV","revision-date":"2024-08-19T15:52:33.232Z","concept-type":"service"},"umm":{"URL":{"Description":"This
        is the Harmony endpoint","URLValue":"https://harmony.earthdata.nasa.gov"},"Type":"Harmony","ServiceKeywords":[{"ServiceCategory":"EARTH
        SCIENCE SERVICES","ServiceTopic":"DATA MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA
        ACCESS/RETRIEVAL"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"SPATIAL
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"TEMPORAL
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"VARIABLE
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA INTEROPERABILITY","ServiceSpecificTerm":"DATA
        REFORMATTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA CUSTOMIZATION","ServiceSpecificTerm":"REPROJECTION"}],"ServiceOrganizations":[{"Roles":["DEVELOPER"],"ShortName":"NASA/GSFC/EOS/EOSDIS/EMD","LongName":"Maintenance
        and Development, Earth Observing System Data and Information System, Earth
        Observing System,Goddard Space Flight Center, NASA"}],"Description":"A Harmony
        GDAL Adapter that can perform GDAL operations upon GeoTIFF and NetCDF-4 input
        (or zipped files containing either of those formats). Operations include spatial,
        temporal and variable subsetting and projection.","VersionDescription":"The
        semantic version number of the Harmony GDAL Adapter (HGA) Docker image used
        by Harmony in the production environment.","Version":"1.2.9","Name":"Harmony
        GDAL Adapter (HGA)","ContactPersons":[{"Roles":["DEVELOPER"],"FirstName":"Owen","LastName":"Littlejohns","ContactInformation":{"ContactMechanisms":[{"Type":"Email","Value":"owen.m.littlejohns@nasa.gov"}]}}],"ServiceOptions":{"Subset":{"SpatialSubset":{"Shapefile":[{"Format":"GeoJSON"}],"BoundingBox":{"AllowMultipleValues":false}},"TemporalSubset":{"AllowMultipleValues":false},"VariableSubset":{"AllowMultipleValues":true}},"SupportedReformattings":[{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["COG"]},{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["GIF"]},{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["JPEG"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["NETCDF-4"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["GIF"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["JPEG"]}],"SupportedOutputProjections":[{"ProjectionName":"Geographic"}]},"MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/service/v1.5.3","Name":"UMM-S","Version":"1.5.3"},"LongName":"Harmony
        GDAL Adapter (HGA)"}}]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 0bcaf761-a1fb-4487-89ea-163f6392f476
      CMR-Search-After:
      - '["harmony gdal adapter (hga)","XYZ_PROV","Harmony GDAL Adapter (HGA)","XYZ_PROV"]'
      CMR-Took:
      - '25'
      Content-MD5:
      - fc318144a9eebcb42dc8e60082609744
      Content-SHA1:
      - 9fd69ec6aa5d167b9c8ccaa5a6d238ca921615eb
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
[...]
