interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.umm_json?has_granules=true&include_granule_counts=true&short_name=MUR-JPL-L4-GLOB-v4.1&cloud_hosted=true&temporal%5B%5D=2024-02-27T00:00:00Z,2024-02-29T00:00:00Z&page_size=0
  response:
    body:
      string: '{"hits":1,"took":228,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 24038de3-899b-417f-9b27-9330a4d0494b
      CMR-Took:
      - '229'
      Content-MD5:
      - 551a27b6ce289c27acfb0ad386ecb833
      Content-SHA1:
      - 11602a72f3f393f4be36a6fe5cb8cc95fbac7006
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.18.1; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/collections.umm_json?has_granules=true&include_granule_counts=true&short_name=MUR-JPL-L4-GLOB-v4.1&cloud_hosted=true&temporal%5B%5D=2024-02-27T00:00:00Z,2024-02-29T00:00:00Z&page_size=1
  response:
    body:
      string: "{\"hits\":1,\"took\":367,\"items\":[{\"meta\":{\"revision-id\":38,\"deleted\":false,\"format\":\"application/vnd.nasa.cmr.umm+json\",\"provider-id\":\"POCLOUD\",\"has-combine\":true,\"user-id\":\"wenhaoli\",\"has-formats\":true,\"associations\":{\"variables\":[\"V2262655973-POCLOUD\",\"V2112015425-POCLOUD\",\"V2028632047-POCLOUD\",\"V2112015422-POCLOUD\",\"V2028668049-POCLOUD\",\"V2028632042-POCLOUD\",\"V2112015420-POCLOUD\",\"V2028632044-POCLOUD\"],\"services\":[\"S2839491596-XYZ_PROV\",\"S2164732315-XYZ_PROV\",\"S2004184019-POCLOUD\",\"S2874702816-XYZ_PROV\",\"S2009180097-POCLOUD\",\"S2606110201-XYZ_PROV\"],\"tools\":[\"TL2108419875-POCLOUD\",\"TL2245207664-POCLOUD\"]},\"s3-links\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"has-spatial-subsetting\":true,\"native-id\":\"GHRSST+Level+4+MUR+Global+Foundation+Sea+Surface+Temperature+Analysis+(v4.1)\",\"has-transforms\":false,\"association-details\":{\"variables\":[{\"concept-id\":\"V2262655973-POCLOUD\"},{\"concept-id\":\"V2112015425-POCLOUD\"},{\"concept-id\":\"V2028632047-POCLOUD\"},{\"concept-id\":\"V2112015422-POCLOUD\"},{\"concept-id\":\"V2028668049-POCLOUD\"},{\"concept-id\":\"V2028632042-POCLOUD\"},{\"concept-id\":\"V2112015420-POCLOUD\"},{\"concept-id\":\"V2028632044-POCLOUD\"}],\"services\":[{\"concept-id\":\"S2839491596-XYZ_PROV\"},{\"concept-id\":\"S2164732315-XYZ_PROV\"},{\"concept-id\":\"S2004184019-POCLOUD\"},{\"concept-id\":\"S2874702816-XYZ_PROV\"},{\"concept-id\":\"S2009180097-POCLOUD\"},{\"concept-id\":\"S2606110201-XYZ_PROV\"}],\"tools\":[{\"concept-id\":\"TL2108419875-POCLOUD\"},{\"concept-id\":\"TL2245207664-POCLOUD\"}]},\"has-variables\":true,\"concept-id\":\"C1996881146-POCLOUD\",\"revision-date\":\"2023-05-30T16:42:26.806Z\",\"granule-count\":3,\"has-temporal-subsetting\":true,\"concept-type\":\"collection\"},\"umm\":{\"DataLanguage\":\"eng\",\"AncillaryKeywords\":[\"GHRSST\",\"sea
        surface temperature\",\"Level 4\",\"SST\",\"surface temperature\",\" MUR\",\"
        foundation SST\",\" SST anomaly\",\" anomaly\"],\"CollectionCitations\":[{\"Creator\":\"JPL
        MUR MEaSUREs Project\",\"OnlineResource\":{\"Linkage\":\"https://podaac.jpl.nasa.gov/MEaSUREs-MUR\"},\"Publisher\":\"JPL
        NASA\",\"Title\":\"GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis\",\"SeriesName\":\"GHRSST Level 4 MUR Global Foundation Sea Surface
        Temperature Analysis\",\"OtherCitationDetails\":\"JPL MUR MEaSUREs Project,
        JPL NASA, 2015-03-11, GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis (v4.1)\",\"ReleaseDate\":\"2015-03-11T00:00:00.000Z\",\"Version\":\"4.1\",\"ReleasePlace\":\"Jet
        Propulsion Laboratory\"}],\"AdditionalAttributes\":[{\"Name\":\"earliest_granule_start_time\",\"Description\":\"Earliest
        Granule Start Time for dataset.\",\"Value\":\"2002-06-01T09:00:00.000Z\",\"DataType\":\"DATETIME\"},{\"Name\":\"latest_granule_end_time\",\"Description\":\"Latest
        Granule Stop/End Time for dataset.\",\"Value\":\"2021-01-25T09:00:00.000Z\",\"DataType\":\"DATETIME\"},{\"Name\":\"Series
        Name\",\"Description\":\"Dataset citation series name\",\"Value\":\"GHRSST
        Level 4 MUR Global Foundation Sea Surface Temperature Analysis\",\"DataType\":\"STRING\"},{\"Name\":\"Persistent
        ID\",\"Description\":\"Dataset Persistent ID\",\"Value\":\"PODAAC-GHGMR-4FJ04\",\"DataType\":\"STRING\"}],\"SpatialExtent\":{\"SpatialCoverageType\":\"HORIZONTAL\",\"HorizontalSpatialDomain\":{\"Geometry\":{\"CoordinateSystem\":\"CARTESIAN\",\"BoundingRectangles\":[{\"NorthBoundingCoordinate\":90.0,\"WestBoundingCoordinate\":-180.0,\"EastBoundingCoordinate\":180.0,\"SouthBoundingCoordinate\":-90.0}]},\"ResolutionAndCoordinateSystem\":{\"Description\":\"Projection
        Type: Cylindrical Lat-Lon, Projection Detail: Geolocation information included
        for each pixel\",\"GeodeticModel\":{\"HorizontalDatumName\":\"World Geodetic
        System 1984\",\"EllipsoidName\":\"WGS 84\",\"SemiMajorAxis\":6378137.0,\"DenominatorOfFlatteningRatio\":298.2572236},\"HorizontalDataResolution\":{\"GenericResolutions\":[{\"XDimension\":0.01,\"YDimension\":0.01,\"Unit\":\"Decimal
        Degrees\"}]}}},\"GranuleSpatialRepresentation\":\"CARTESIAN\"},\"CollectionProgress\":\"ACTIVE\",\"ScienceKeywords\":[{\"Category\":\"EARTH
        SCIENCE\",\"Topic\":\"OCEANS\",\"Term\":\"OCEAN TEMPERATURE\",\"VariableLevel1\":\"SEA
        SURFACE TEMPERATURE\",\"DetailedVariable\":\"FOUNDATION SEA SURFACE TEMPERATURE\"}],\"TemporalExtents\":[{\"RangeDateTimes\":[{\"BeginningDateTime\":\"2002-05-31T21:00:00.000Z\"}]}],\"ProcessingLevel\":{\"Id\":\"4\",\"ProcessingLevelDescription\":\"Level
        4  following GHRSST Data Specification\"},\"DOI\":{\"DOI\":\"10.5067/GHGMR-4FJ04\",\"Authority\":\"https://doi.org\"},\"ShortName\":\"MUR-JPL-L4-GLOB-v4.1\",\"EntryTitle\":\"GHRSST
        Level 4 MUR Global Foundation Sea Surface Temperature Analysis (v4.1)\",\"PublicationReferences\":[{\"Title\":\"
        A multi-scale high-resolution analysis of global sea surface temperature\",\"Publisher\":\"Remote
        Sensing of Environment \",\"DOI\":{\"DOI\":\"https://doi.org/10.1016/j.rse.2017.07.029\\r\\n\"},\"Author\":\"Chin,
        T.M,  J. Vazquez-Cuervo, and E.M. Armstrong\",\"PublicationDate\":\"2017-10-01T00:00:00.000Z\",\"Volume\":\"200
        \",\"Pages\":\"154-169\"}],\"DirectDistributionInformation\":{\"Region\":\"us-west-2\",\"S3BucketAndObjectPrefixNames\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"S3CredentialsAPIEndpoint\":\"https://archive.podaac.earthdata.nasa.gov/s3credentials\",\"S3CredentialsAPIDocumentationURL\":\"https://archive.podaac.earthdata.nasa.gov/s3credentialsREADME\"},\"RelatedUrls\":[{\"Description\":\"Group
        for High Resolution Sea Surface Temperature Information\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://ghrsst.jpl.nasa.gov\"},{\"Description\":\"Homepage
        for the NASA MEaSUREs projects\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://earthdata.nasa.gov/esds/competitive-programs/measures/mur-sst\"},{\"Description\":\"Chin
        T.M., Milliff R.F., Large W.G. (1998). Basin-scale, high-wavenumber sea surface
        wind fields from a multiresolution analysis of scatterometer data. Journa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2839491596-XYZ_PROV&page_size=0
  response:
    body:
      string: '{"hits":1,"took":8,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 08981b02-fbb2-4408-b988-20847dbfafe5
      CMR-Took:
      - '9'
      Content-MD5:
      - 6eb55619370c5e8106c20c52e677f80a
      Content-SHA1:
      - 8a283caf5b3518eadfb29f4bb52205eef6699d75
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2839491596-XYZ_PROV&page_size=1
  response:
    body:
      string: '{"hits":1,"took":32,"items":[{"meta":{"revision-id":2,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"XYZ_PROV","user-id":"olittlej","associations":{"collections":["C2301137194-POCLOUD","C2301137251-POCLOUD","C2133160276-POCLOUD","C2006849866-POCLOUD","C2301137236-POCLOUD","C1991543700-POCLOUD","C2301137269-POCLOUD","C2301137185-POCLOUD","C2491735295-POCLOUD","C1996881146-POCLOUD","C2301137116-POCLOUD","C1991543808-POCLOUD","C2301137273-POCLOUD","C1990404812-POCLOUD","C2589160971-POCLOUD","C2301137089-POCLOUD","C1991543731-POCLOUD","C2301137093-POCLOUD","C1991543768-POCLOUD","C1991543735-POCLOUD","C2301137032-POCLOUD","C2731041317-POCLOUD","C2301137045-PO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2004184019-POCLOUD&page_size=0
  response:
    body:
      string: '{"hits":1,"took":4,"items":[]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 347f5f8a-46d7-4c93-9e17-5038aeeac984
      CMR-Took:
      - '5'
      Content-MD5:
      - 728d9a3889e3a2b573a7acfcd898b3f5
      Content-SHA1:
      - 6614d0a1e7713289dde349d51d8407bfcc0a5688
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/services.umm_json?concept_id%5B%5D=S2606110201-XYZ_PROV&page_size=1
  response:
    body:
      string: '{"hits":1,"took":95,"items":[{"meta":{"revision-id":3,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"XYZ_PROV","user-id":"yliu10","associations":{"collections":["C1214354031-ASF","C1595422627-ASF","C1756916832-XYZ_PROV","C1808440897-ASF","C1990404801-POCLOUD","C1996881146-POCLOUD","C2011599335-ASF","C2574931653-LARC_ASDC"]},"native-id":"mmt_service_28094","association-details":{"collections":[{"concept-id":"C1214354031-ASF"},{"concept-id":"C1595422627-ASF"},{"concept-id":"C1756916832-XYZ_PROV"},{"concept-id":"C1808440897-ASF"},{"concept-id":"C1990404801-POCLOUD"},{"concept-id":"C1996881146-POCLOUD"},{"concept-id":"C2011599335-ASF"},{"concept-id":"C2574931653-LARC_ASDC"}]},"concept-id":"S2606110201-XYZ_PROV","revision-date":"2023-07-26T19:06:59.806Z","concept-type":"service"},"umm":{"URL":{"Description":"This
        is the Harmony endpoint","URLValue":"https://harmony.earthdata.nasa.gov"},"Type":"Harmony","ServiceKeywords":[{"ServiceCategory":"EARTH
        SCIENCE SERVICES","ServiceTopic":"DATA MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA
        ACCESS/RETRIEVAL"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"SPATIAL
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"TEMPORAL
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"SUBSETTING/SUPERSETTING","ServiceSpecificTerm":"VARIABLE
        SUBSETTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA INTEROPERABILITY","ServiceSpecificTerm":"DATA
        REFORMATTING"},{"ServiceCategory":"EARTH SCIENCE SERVICES","ServiceTopic":"DATA
        MANAGEMENT/DATA HANDLING","ServiceTerm":"DATA CUSTOMIZATION","ServiceSpecificTerm":"REPROJECTION"}],"ServiceOrganizations":[{"Roles":["DEVELOPER"],"ShortName":"NASA/GSFC/EOS/EOSDIS/EMD","LongName":"Maintenance
        and Development, Earth Observing System Data and Information System, Earth
        Observing System,Goddard Space Flight Center, NASA"}],"Description":"A Harmony
        GDAL Adapter that can perform GDAL operations upon GeoTIFF and NetCDF-4 input
        (or zipped files containing either of those formats). Operations include spatial,
        temporal and variable subsetting and projection.","VersionDescription":"The
        semantic version number of the Harmony GDAL Adapter (HGA) Docker image used
        by Harmony in the production environment.","Version":"1.2.9","Name":"harmony-gdal-adapter","ServiceOptions":{"Subset":{"SpatialSubset":{"Shapefile":[{"Format":"GeoJSON"}],"BoundingBox":{"AllowMultipleValues":false}},"TemporalSubset":{"AllowMultipleValues":false},"VariableSubset":{"AllowMultipleValues":true}},"SupportedReformattings":[{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["COG"]},{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["GIF"]},{"SupportedInputFormat":"GEOTIFF","SupportedOutputFormats":["JPEG"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["NETCDF-4"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["GIF"]},{"SupportedInputFormat":"NETCDF-4","SupportedOutputFormats":["JPEG"]}],"SupportedOutputProjections":[{"ProjectionName":"Geographic"}]},"MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/service/v1.5.3","Name":"UMM-S","Version":"1.5.3"},"LongName":"Harmony
        GDAL Adapter (HGA)"}}]}'
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - 791f2fee-a2a7-46cb-8c99-722fe7423caa
      CMR-Search-After:
      - '["harmony-gdal-adapter","XYZ_PROV","harmony-gdal-adapter","XYZ_PROV"]'
      CMR-Took:
      - '95'
      Content-MD5:
      - c8d0c29b4e14777b61ae0b2075606cae
      Content-SHA1:
      - 37cd507ecdf986cf9edffedb640852befab36e41
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.5.3; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
