interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://cmr.earthdata.nasa.gov/search/collections.umm_json?provider=POCLOUD&cloud_hosted=true&page_size=20
    response:
      body:
        string:
          "{\"hits\":834,\"took\":547,\"items\":[{\"meta\":{\"revision-id\":10,\"deleted\":false,\"format\":\"application/vnd.nasa.cmr.umm+json\",\"provider-id\":\"POCLOUD\",\"has-combine\":false,\"user-id\":\"chen5510\",\"has-formats\":false,\"associations\":{\"tools\":[\"TL2108419875-POCLOUD\"]},\"s3-links\":[\"podaac-swot-ops-cumulus-protected/SWOT_L2_HR_RiverSP_1.1/\",\"podaac-swot-ops-cumulus-public/SWOT_L2_HR_RiverSP_1.1/\"],\"has-spatial-subsetting\":false,\"native-id\":\"SWOT_L2_HR_RiverSP_1.1\",\"has-transforms\":false,\"association-details\":{\"tools\":[{\"concept-id\":\"TL2108419875-POCLOUD\"}]},\"has-variables\":false,\"concept-id\":\"C2758162622-POCLOUD\",\"revision-date\":\"2024-03-13T19:12:06.579Z\",\"granule-count\":1698,\"has-temporal-subsetting\":false,\"concept-type\":\"collection\"},\"umm\":{\"CollectionCitations\":[{\"Creator\":\"Surface
          Water Ocean Topography (SWOT)\",\"OnlineResource\":{\"Linkage\":\"https://swot.jpl.nasa.gov/\"},\"Publisher\":\"JPL
          NASA\",\"Title\":\"SWOT Level 2 River Single-Pass Vector Data Product, Version
          1.1\",\"SeriesName\":\"SWOT Level 2 River Single-Pass Vector Data Product\",\"ReleaseDate\":\"2023-11-30T00:00:00.000Z\",\"Version\":\"1.1\",\"ReleasePlace\":\"Jet
          Propulsion Laboratory\"}],\"AdditionalAttributes\":[{\"Name\":\"TILE\",\"Description\":\"Tile
          Value\",\"DataType\":\"STRING\"},{\"Name\":\"BasinID\",\"Description\":\"BasinID
          Value\",\"DataType\":\"STRING\"}],\"SpatialExtent\":{\"SpatialCoverageType\":\"HORIZONTAL_ORBITAL\",\"HorizontalSpatialDomain\":{\"Geometry\":{\"CoordinateSystem\":\"CARTESIAN\",\"BoundingRectangles\":[{\"NorthBoundingCoordinate\":90.0,\"WestBoundingCoordinate\":-180.0,\"EastBoundingCoordinate\":180.0,\"SouthBoundingCoordinate\":-90.0}]}},\"OrbitParameters\":{\"SwathWidth\":120.0,\"SwathWidthUnit\":\"Kilometer\",\"OrbitPeriod\":102.89,\"OrbitPeriodUnit\":\"Decimal
          Minute\",\"InclinationAngle\":77.6,\"InclinationAngleUnit\":\"Degree\",\"NumberOfOrbits\":0.5},\"GranuleSpatialRepresentation\":\"ORBIT\"},\"CollectionProgress\":\"ACTIVE\",\"ScienceKeywords\":[{\"Category\":\"EARTH
          SCIENCE\",\"Topic\":\"TERRESTRIAL HYDROSPHERE\",\"Term\":\"SURFACE WATER\",\"VariableLevel1\":\"STAGE
          HEIGHT\"},{\"Category\":\"EARTH SCIENCE\",\"Topic\":\"TERRESTRIAL HYDROSPHERE\",\"Term\":\"SURFACE
          WATER\",\"VariableLevel1\":\"SURFACE WATER FEATURES\",\"VariableLevel2\":\"RIVERS/STREAMS\"},{\"Category\":\"EARTH
          SCIENCE\",\"Topic\":\"TERRESTRIAL HYDROSPHERE\",\"Term\":\"SURFACE WATER\",\"VariableLevel1\":\"SURFACE
          WATER PROCESSES/MEASUREMENTS\",\"VariableLevel2\":\"TOTAL SURFACE WATER\"},{\"Category\":\"EARTH
          SCIENCE\",\"Topic\":\"TERRESTRIAL HYDROSPHERE\",\"Term\":\"SURFACE WATER\",\"VariableLevel1\":\"SURFACE
          WATER PROCESSES/MEASUREMENTS\",\"VariableLevel2\":\"DISCHARGE/FLOW\"}],\"TemporalExtents\":[{\"EndsAtPresentFlag\":false,\"RangeDateTimes\":[{\"BeginningDateTime\":\"2022-12-16T00:00:00.000Z\"}]}],\"ProcessingLevel\":{\"Id\":\"2\"},\"DOI\":{\"DOI\":\"10.5067/SWOT-RIVERSP-1.1\"},\"ShortName\":\"SWOT_L2_HR_RiverSP_1.1\",\"EntryTitle\":\"SWOT
          Level 2 River Single-Pass Vector Data Product, Version 1.1\",\"PublicationReferences\":[{\"PublicationDate\":\"2018-01-24T00:00:00.000Z\",\"Series\":\"Surface
          Water and Ocean Topography Mission (SWOT) Project: Science Requirements Document\",\"Title\":\"Surface
          Water and Ocean Topography Mission (SWOT) Project: Science Requirements Document,
          JPL D-61923, Rev. B\",\"Edition\":\"Rev. B\",\"ReportNumber\":\"D-61923\",\"OnlineResource\":{\"Linkage\":\"https://swot.jpl.nasa.gov/system/documents/files/2176_2176_D-61923_SRD_Rev_B_20181113.pdf\",\"Name\":\"Science
          Requirements Document\",\"MimeType\":\"application/pdf\"},\"Publisher\":\"Jet
          Propulsion Laboratory\",\"Author\":\"JPL Internal Document\"}],\"DirectDistributionInformation\":{\"Region\":\"us-west-2\",\"S3BucketAndObjectPrefixNames\":[\"podaac-swot-ops-cumulus-protected/SWOT_L2_HR_RiverSP_1.1/\",\"podaac-swot-ops-cumulus-public/SWOT_L2_HR_RiverSP_1.1/\"],\"S3CredentialsAPIEndpoint\":\"https://archive.swot.podaac.earthdata.nasa.gov/s3credentials\",\"S3CredentialsAPIDocumentationURL\":\"https://archive.swot.podaac.earthdata.nasa.gov/s3credentialsREADME\"},\"RelatedUrls\":[{\"Description\":\"SWOT
          Mission Page\",\"URLContentType\":\"CollectionURL\",\"Type\":\"PROJECT HOME
          PAGE\",\"URL\":\"https://swot.jpl.nasa.gov\"},{\"Description\":\"SWOT Mission
          Page\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW RELATED INFORMATION\",\"Subtype\":\"GENERAL
          DOCUMENTATION\",\"URL\":\"https://swot.jpl.nasa.gov\"},{\"Description\":\"SWOT
          Mission Page at NASA\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
          RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://www.nasa.gov/swot\"},{\"Description\":\"SWOT
          Mission Page at JPL\",\"URLContentType\":\"PublicationURL\",\"Type\":\"VIEW
          RELATED INFORMATION\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"URL\":\"https://www.jpl[...]
