interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/api/users/tokens
  response:
    body:
      string: '[{"access_token": "REDACTED", "token_type": "Bearer", "expiration_date":
        "06/25/2024"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a0cdb36a1d9bf5a3d3eee622ea7c455d"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/api/users/REDACTED?client_id=REDACTED
  response:
    body:
      string: '{"uid": "REDACTED", "first_name": "REDACTED", "last_name": "REDACTED",
        "email_address": "REDACTED", "registered_date": " 2 Apr 2024 17:43:33PM",
        "country": "United States", "study_area": "Other", "allow_auth_app_emails":
        true, "user_type": "Application", "affiliation": "Commercial", "agreed_to_meris_eula":
        true, "agreed_to_sentinel_eula": true, "email_verified": true, "user_groups":
        [], "user_authorized_apps": 24, "nams_auid": "REDACTED"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"91914441d3cf5c48fd9794d7d56234aa"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/profile
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://urs.earthdata.nasa.gov/home
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://urs.earthdata.nasa.gov/home
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]><html class=\"no-js lt-ie9 lt-ie8
        lt-ie7\"> <![endif]-->\n<!--[if IE 7]><html class=\"no-js lt-ie9 lt-ie8\">
        <![endif]-->\n<!--[if IE 8]><html class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if
        gt IE 8]><!--><html lang=\"en\" class=\"no-js\"><!--<![endif]-->\n  <head>\n
        \   <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \   <title>Earthdata Login</title>\n    <meta name=\"description\" content=\"Earthdata
        Login\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\n
        \   <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(\n\n
        \     {'gtm.start': new Date().getTime(),event:'gtm.js'}\n\n    );var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \   })(window,document,'script','dataLayer','GTM-WNP7MLF');</script>\n    <!--
        End Google Tag Manager -->\n\n    <link href=\"https://cdn.earthdata.nasa.gov/eui/1.1.3/stylesheets/application.css\"
        rel=\"stylesheet\" />\n    <link rel=\"stylesheet\" href=\"/assets/application-2a77b6483df06458b29e8033e0c8bc9fd8ae66918c52556d8527414dea566bc0.css\"
        media=\"all\" />\n    <!--[if IE 7]>\n      <link rel=\"stylesheet\" href=\"/assets/font-awesome-ie7.min.css\">\n
        \   <![endif]-->\n    <link href=\"//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css\"
        rel=\"stylesheet\">\n    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700'
        rel='stylesheet' type='text/css'>\n    <meta name=\"csrf-param\" content=\"authenticity_token\"
        />\n<meta name=\"csrf-token\" content=\"7dba-1Qing4eyIW16ZLY6heW_ChaDTUw7-9vHp2q_AKoSmpV14pIsa5UNJf-dyaN_SAJYGMNhAbFGk4xGS_nWQ\"
        />\n    \n\n    <!-- Grid background: http://subtlepatterns.com/graphy/ -->\n
        \ </head>\n  <body class=\"static_pages home\" data-turbolinks-eval=false>\n\n
        \   <!-- Google Tag Manager (noscript) -->\n    <noscript>\n      <iframe
        src=\"https://www.googletagmanager.com/ns.html?id=GTM-WNP7MLF\"\n                    height=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe>\n    </noscript>\n
        \   <!-- End Google Tag Manager (noscript) -->\n\n    <header id=\"earthdata-tophat2\"
        style=\"height: 32px;\"></header>\n    <!--[if lt IE 7]>\n      <p class=\"chromeframe\">You
        are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade
        your browser</a> or <a href=\"http://www.google.com/chromeframe/?redirect=true\">activate
        Google Chrome Frame</a> to improve your experience.</p>\n    <![endif]-->\n
        \   <div class=\"container\">\n      <header role=\"banner\">\n  <div id=\"masthead-logo\">\n
        \   <h1><a class=\"ir\" href=\"/\">Earthdata Login</a></h1>\n    <span class=\"eui-badge
        badge daac\">Earthdata Login</span>\n  </div>\n  <a id=\"hamburger\" href=\"#\"><img
        title=\"Mobile Menu\" alt=\"Three horizontal lines stacked\" src=\"/assets/hamburger-68c8505066427f3e3f6ee40b24cfd3c9f7c0fe93ee298b9046564637262115fa.png\"
        /></a>\n  <nav role=\"navigation\" class=\"masthead\">\n\n    <div id=\"hide\">\n
        \     <ul>\n        <li><strong><a href=\"/documentation\">Documentation</a></strong></li>\n
        \     </ul>\n    </div>\n  </nav>\n</header>\n\n          <div class=\"eui-banner--danger\">\n
        \     You must be logged in to access this page\n    </div>\n\n\n\n\n\n\n\n\n
        \     <section id=\"callout-login\">\n  <form id=\"login\" action=\"/login\"
        accept-charset=\"UTF-8\" method=\"post\"><input name=\"utf8\" type=\"hidden\"
        value=\"&#x2713;\" autocomplete=\"off\" /><input type=\"hidden\" name=\"authenticity_token\"
        value=\"CubCdWsEnK71hCL6Xjg52QZ9NLj_nA2j35-Cdb4PyaNPenLb6KxKEUUYk9hJ3ce-7MvB8MacvJX1aqNaOorS-A\"
        autocomplete=\"off\" />\n  <p>\n    <label for=\"username\">Username</label>\n
        \   <i class=\"fa fa-question-circle fa-question-circle--blue user-name\"
        title=\"Login using either your Username or Email Address\"></i>\n    <input
        type=\"text\" name=\"username\" id=\"username\" autofocus=\"autofocus\" class=\"default\"
        />\n  </p>\n  <p>\n    <label for=\"password\">Password</label><br />\n    <input
        type=\"password\" name=\"password\" id=\"password\" autocomplete=\"off\" class=\"password\"
        />\n    <span class=\"password-showhide hide-password\">\n  </p>\n  <p>\n
        \   <input type=\"hidden\" name=\"client_id\" id=\"client_id\" autocomplete=\"off\"
        />\n  </p>\n  <p>\n    <input type=\"hidden\" name=\"redirect_uri\" id=\"redirect_uri\"
        autocomplete=\"off\" />\n  </p>\n  \n  <p class=\"button-with-notes\">\n    <input
        type=\"submit\" name=\"commit\" value=\"Log in\" class=\"eui-btn--round eui-btn--green\"
        data-disable-with=\"Log in\" />\n    <a class=\"eui-btn--round eui-btn--blue\"
        href=\"/users/new\">Register</a>\n  </p>\n  <p class=\"form-instructions\">\n
        \   <em class=\"icon-question-sign\"></em>\n    <a class=\"\" href=\"/retrieve_info\">I
        don&rsquo;t remember my username</a>\n    <br /><em class=\"icon-question-sign\"></em>\n
        \   <a class=\"\" href=\"/reset_passwords/new\">I don&rsquo;t remember my
        password</a>\n    <br />\n    <em class=\"icon-question-sign\"></em>\n    <a
        href=\"javascript:feedback.showForm();\" title = \"Need Help? Click on the
        Feedback button to request help\">Help</a>\n  </p>\n</form>\n<aside class=\"govt-msg\">\n
        \ <div class=\"nasa-logo\"></div>\n  <p>\n    <strong>Why must I register?</strong>\n
        \ </p>\n  <p>\n    The Earthdata Login provides a single mechanism for user
        registration and profile management for all EOSDIS system components (DAACs,
        Tools, Services).\n    Your Earthdata login also helps the EOSDIS program
        better understand the usage of EOSDIS services to improve user experience
        through customization of tools and improvement of services.\n    EOSDIS data
        are openly available to all and free of charge except where governed by international
        agreements.\n  </p>\n</aside>\n\n</section>\n<section id=\"cta\">\n  <h3>Get
        single sign-on access to all your favorite EOSDIS sites</h3>\n      <a class=\"eui-btn--round
        eui-btn--blue\" href=\"/users/new\">Register for a Profile</a>\n</section>\n<div
        class=\"info-box\">\n  <strong> \n    By clicking the Log In  button above,
        you are acknowledging that all Earthdata Login applications running in <a
        href=\"https://earthdata.nasa.gov/about/daacs\">DAACs</a> \n    will have
        access to my profile information. \n  </strong>\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?page_size=0&short_name=SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205&temporal%5B%5D=2020-01-01T00%3A00%3A00Z%2C2022-12-31T23%3A59%3A59Z
  response:
    body:
      string: '{"hits": 218, "took": 62, "items": []}'
    headers:
      CMR-Hits:
      - '218'
      CMR-Request-Id:
      - 48fe1a67-1d7c-4231-87cc-4af38a531989
      CMR-Took:
      - '63'
      Content-MD5:
      - ffac843131fefd3102480e1e650f3d20
      Content-SHA1:
      - e3114c476c0985b3873bca4a6c47b0cbe2447ba9
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.6.5; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?page_size=1&short_name=SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205&temporal%5B%5D=2020-01-01T00%3A00%3A00Z%2C2022-12-31T23%3A59%3A59Z
  response:
    body:
      string: '{"hits": 218, "took": 222, "items": [{"meta": {"concept-type": "granule",
        "concept-id": "G2546526969-POCLOUD", "revision-id": 2, "native-id": "ssh_grids_v2205_2020010212",
        "collection-concept-id": "C2270392799-POCLOUD", "provider-id": "POCLOUD",
        "format": "application/vnd.nasa.cmr.umm+json", "revision-date": "2023-01-11T00:16:28.862Z"},
        "umm": {"TemporalExtent": {"RangeDateTime": {"EndingDateTime": "2020-01-02T00:00:00.000Z",
        "BeginningDateTime": "2020-01-02T00:00:00.000Z"}}, "MetadataSpecification":
        {"URL": "https://cdn.earthdata.nasa.gov/umm/granule/v1.6.5", "Name": "UMM-G",
        "Version": "1.6.5"}, "GranuleUR": "ssh_grids_v2205_2020010212", "ProviderDates":
        [{"Type": "Insert", "Date": "2023-01-11T00:16:13.878Z"}, {"Type": "Update",
        "Date": "2023-01-11T00:16:13.878Z"}], "SpatialExtent": {"HorizontalSpatialDomain":
        {"Geometry": {"BoundingRectangles": [{"WestBoundingCoordinate": 0.083, "SouthBoundingCoordinate":
        -79.917, "EastBoundingCoordinate": 180, "NorthBoundingCoordinate": 79.917},
        {"WestBoundingCoordinate": -180, "SouthBoundingCoordinate": -79.917, "EastBoundingCoordinate":
        -0.083, "NorthBoundingCoordinate": 79.917}]}}}, "DataGranule": {"ArchiveAndDistributionInformation":
        [{"SizeUnit": "MB", "Size": 9.246453285217285, "Checksum": {"Value": "9002febf17632e5921eba5b8f62237e6",
        "Algorithm": "MD5"}, "SizeInBytes": 9695609, "Name": "ssh_grids_v2205_2020010212.nc"},
        {"SizeUnit": "MB", "Size": 6.008148193359375e-05, "Checksum": {"Value": "b0c271019f89f876b2d3c0a9c46b8f77",
        "Algorithm": "MD5"}, "SizeInBytes": 63, "Name": "ssh_grids_v2205_2020010212.nc.md5"}],
        "DayNightFlag": "Unspecified", "ProductionDateTime": "2022-10-30T20:57:22.377Z"},
        "CollectionReference": {"Version": "2205", "ShortName": "SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205"},
        "RelatedUrls": [{"URL": "https://archive.podaac.earthdata.nasa.gov/podaac-ops-cumulus-public/SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205/ssh_grids_v2205_2020010212.nc.md5",
        "Description": "Download ssh_grids_v2205_2020010212.nc.md5", "Type": "EXTENDED
        METADATA"}, {"URL": "s3://podaac-ops-cumulus-public/SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205/ssh_grids_v2205_2020010212.nc.md5",
        "Description": "This link provides direct download access via S3 to the granule",
        "Type": "EXTENDED METADATA"}, {"URL": "https://archive.podaac.earthdata.nasa.gov/podaac-ops-cumulus-protected/SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205/ssh_grids_v2205_2020010212.nc",
        "Description": "Download ssh_grids_v2205_2020010212.nc", "Type": "GET DATA"},
        {"URL": "s3://podaac-ops-cumulus-protected/SEA_SURFACE_HEIGHT_ALT_GRIDS_L4_2SATS_5DAY_6THDEG_V_JPL2205/ssh_grids_v2205_2020010212.nc",
        "Description": "This link provides direct download access via S3 to the granule",
        "Type": "GET DATA VIA DIRECT ACCESS"}, {"URL": "https://archive.podaac.earthdata.nasa.gov/s3credentials",
        "Description": "api endpoint to retrieve temporary credentials valid for same-region
        direct s3 access", "Type": "VIEW RELATED INFORMATION"}, {"URL": "https://opendap.earthdata.nasa.gov/collections/C2270392799-POCLOUD/granules/ssh_grids_v2205_2020010212",
        "Type": "USE SERVICE API", "Subtype": "OPENDAP DATA", "Description": "OPeNDAP
        request URL"}]}}]}'
    headers:
      CMR-Hits:
      - '218'
      CMR-Request-Id:
      - ae151b5c-ff6b-4109-8f9f-ad9eb51f70b3
      CMR-Search-After:
      - '["pocloud",1577923200000,2546526969]'
      CMR-Took:
      - '224'
      Content-MD5:
      - 1d6e4d64cad093bfb7d9465535b8f257
      Content-SHA1:
      - 3435d16ab946785205baf6617e3faa9a575b0cbe
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.6.5; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
