site_name: earthaccess
site_description: Client library for NASA Earthdata APIs
site_url: https://github.com/nsidc/earthaccess

# Fail on broken links
strict: false

theme:
  name: "material"
  logo: earth.png
  favicon: earth.png
  palette:
    - scheme: default
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    # Allow navigation sections to link to index/overview pages.
    # See: https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#section-index-pages
    - navigation.indexes
    - navigation.tabs

repo_name: nsidc/earthaccess
repo_url: https://github.com/nsidc/earthaccess
edit_uri: ""

extra_css:
  - css/styles.css

plugins:
  - search
  - mermaid2
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: no
            merge_init_into_class: yes
            show_submodules: no
            show_root_heading: false
            show_source: false
  - autorefs
  - redirects:
      redirect_maps:
        "CODE_OF_CONDUCT.md": "contributor/code-of-conduct.md"
        "contributing/our-meet-ups.md": "contributor/calendar.md"
  - mkdocs-jupyter:
      execute: false
      ignore:
        - "**/*"
        - "**/.ipynb_checkpoints/*"
        - "user/fsspec.ipynb"
        - "user/tutorials/SSL.ipynb"
        - "user/tutorials/dmrpp-virtualizarr.ipynb"
        - "user/tutorials/dask.ipynb"
        - "user/howto/edl.ipynb"

nav:
  - Overview:
      - "What is earthaccess?": "index.md"
      - "Resources": "resources.md"
      - "About Us": "about-us.md"
      - Governance:
          - Decision records: "governance/decisions/"

  - User guide:
      - "user/index.md"
      - "Quick start": "user/quick-start.md"
      - "Authentication": "user/authenticate.md"
      - "Status": "user/status.md"
      - "Search": "user/search.md"
      - "Access": "user/access.md"
      - "Backwards Compatibility": "user/backwards-compatibility.md"
      - How-tos:
          - "Authenticate with Earthdata Login": "user/howto/authenticate.md"
          - "Search NASA datasets using filters": "user/howto/search-collections.md"
          - "Search for data using filters": "user/howto/search-granules.md"
          - "Determine if a dataset is available in the cloud": "user/howto/storage-location.md"
          - "Access data": "user/howto/access-data.md"
          - "Using authenticated sessions to access data": "user/howto/edl.ipynb"
          - "Remote access and caching with earthaccess": "user/howto/fsspec.ipynb"
          - "Download data from on-prem location": "user/howto/onprem.md"
          - "Direct S3 access - Open/stream files in the cloud": "user/howto/cloud.md"
          - "Search for services": "user/howto/search-services.md"
      - Tutorials:
          - "Accessing remote NASA data with fsspec": "user/tutorials/file-access.ipynb"
          - "Search and access of restricted datasets": "user/tutorials/restricted-datasets.ipynb"
          # - "Reproducing NASA sea level rise infographic": "tutorials/SSL.ipynb" TODO: make this faster
          - "Accessing and visualizing EMIT data with a few lines of code": "user/tutorials/emit-earthaccess.ipynb"
          - "Cloud optimized access to TEMPO air quality data with earthaccess and virtualizarr": "user/tutorials/virtual_dataset_tutorial_with_TEMPO_Level3.ipynb"
      - Reference:
          - API:
              - "Search and Access": "user/reference/api/api.md"
          - Modules:
              - Collections:
                  - "Collection Queries": "user/reference/collections/collections-query.md"
                  - "Collection Results": "user/reference/collections/collections.md"
                  - "Collection Services": "user/reference/collections/collections-services.md"
              - Granules:
                  - "Granule Queries": "user/reference/granules/granules-query.md"
                  - "Granule Results": "user/reference/granules/granules.md"
              - Store:
                  - "Store": "user/reference/store/store.md"
              - Auth:
                  - "Auth": "user/reference/auth/auth.md"
          - Glossary:
              - "NASA Glossary": "user/reference/glossary/nasa-glossary.md"
              - "Cloud Computing Terminology": "user/reference/glossary/cloud-glossary.md"
  - Contributor guide:
      - "contributor/index.md" # << Link target of the parent node
      - "Community calendar": "contributor/calendar.md"
      - "Development Guide": "contributor/development.md"
      - "Releasing Guide": "contributor/releasing.md"
      - "Maintainers Guide": "contributor/maintainers-guide.md"
      - "Triaging Guide": "contributor/triaging.md"
      - "Code of Conduct": "contributor/code-of-conduct.md"
      - "Topics":
          - "Naming conventions": "contributor/naming-convention.md"
          - "Integration tests": "contributor/integration-tests.md"

markdown_extensions:
  - admonition
  - callouts
  - pymdownx.details
  - meta
  - md_in_html
  - toc:
      toc_depth: 2
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

  - pymdownx.tabbed:
      alternate_style: true

watch:
  - docs
  - earthaccess
