site_name: earthaccess
site_description: Client library for NASA Earthdata APIs
site_url: https://github.com/nsidc/earthaccess

# Fail on broken links
# Do not disable if the build fails! Fix the broken links :)
strict: true

theme:
  name: "material"
  logo: logo.png
  favicon: earth.png
  palette:
    - scheme: default
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    # Allow navigation sections to link to index/overview pages.
    # See: https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#section-index-pages
    - navigation.indexes
    # Enable navigation breadcrumbs
    - navigation.path
    # Display top-level nav elements in the top bar
    - navigation.tabs

repo_name: nsidc/earthaccess
repo_url: https://github.com/nsidc/earthaccess
edit_uri: ""

extra_css:
  - css/styles.css

plugins:
  - search
  - awesome-nav
  - mermaid2
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            docstring_options:
              ignore_init_summary: no
            merge_init_into_class: yes
            show_submodules: no
            show_root_heading: false
            show_source: false
  - autorefs
  - redirects:
      redirect_maps:
        "CODE_OF_CONDUCT.md": "contributor/code-of-conduct.md"
        "contributing/our-meet-ups.md": "contributor/calendar.md"
  - mkdocs-jupyter:
      execute: true
      execute_ignore:
        - "user/tutorials/SSL.ipynb"
        - "user/tutorials/dmrpp-virtualizarr.ipynb"
        - "user/tutorials/dask.ipynb"
        - "user/howto/edl.ipynb"
        - "user/howto/fsspec.ipynb"
      ignore:
        - "**/.ipynb_checkpoints/*"

markdown_extensions:
  - admonition
  - callouts
  - pymdownx.details
  - meta
  - md_in_html
  - toc:
      toc_depth: 2
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom

  - pymdownx.tabbed:
      alternate_style: true

watch:
  - docs
  - earthaccess
