[tool.poetry]
name = "earthaccess"
version = "0.8.0"
homepage = "https://github.com/nsidc/earthaccess"
description = "Client library for NASA Earthdata APIs"
authors = ["earthaccess contributors"]
maintainers = [
    "Luis Lopez <betolin@gmail.com>",
    "Joseph H. Kennedy <jhkennedy@alaska.edu>",
    "James Bourbeau <james@coiled.io>",
    "Matt Fisher <mfisher87@gmail.com>"
]
license = "MIT"
readme = "README.md"
classifiers = [
    "Environment :: Console",
    "Framework :: IPython",
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "License :: OSI Approved :: MIT License",
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
python-cmr = ">=0.7"
pqdm = ">=0.1"
requests = ">=2.26,<3.0.0"
s3fs = ">=2021.11, <2024"
fsspec = ">=2022.1"
tinynetrc = "^1.3.1"
multimethod = ">=1.8"


[tool.poetry.dev-dependencies]
python-magic = ">=0.4"
mypy = ">=0.812"
black = ">=21.11b0"
isort = ">=5"
autoflake = ">=1.3"
flake8 = ">=3.7"
jupyterlab = ">=3"
pre-commit = ">=2.4"
pytest = ">=6.0"
pytest-cov = ">=2.8"
pytest-watch = ">=4.2"
mkdocs = ">=1.2"
mkdocs-material = ">=7.1,<9.0"
markdown-callouts = ">=0.2.0"
markdown-include = ">=0.6"
mkdocstrings = {extras = ["python"], version = ">=0.19.0"}
mkdocs-jupyter = ">=0.19.0"
pymdown-extensions = ">=9.2"
pygments = ">=2.11.1"
responses = ">=0.14"
types-requests = ">=0.1"
types-setuptools = ">=0.1"
ipywidgets = ">=7.7.0"
widgetsnbextension = ">=3.6.0"
# for notebook integrations and documentation examples
xarray = ">=2023.01"
matplotlib = ">=3.3"
h5netcdf = ">=0.11"
dask = ">=2022.1"
pyproj = ">=3.5.0"
bump-my-version = ">=0.10.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"


[tool.pytest]
filterwarnings = ["error::UserWarning"]


[tool.mypy]
disallow_untyped_defs = false
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = [
  "tests.*",
]
ignore_errors = true


[tool.bumpversion]
current_version = "0.8.0"
commit = false
tag = false

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search   = '^version = "{current_version}"$'
replace  = 'version = "{new_version}"'

[[tool.bumpversion.files]]
filename = "CHANGELOG.md"
search   = "^## Unreleased$"
replace  = "## [v{new_version}] {now:%Y-%m-%d}"

[[tool.bumpversion.files]]
filename = "CITATION.cff"
search   = 'version: "{current_version}"'
replace  = 'version: "{new_version}"'

[[tool.bumpversion.files]]
filename = "CITATION.cff"
search   = 'date-released: "\d{{4}}-\d{{2}}-\d{{2}}"'
replace  = 'date-released: "{now:%Y-%m-%d}"'
