name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
      fail-fast: false

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Install package with dependencies
        uses: ./.github/actions/install-pkg
        with:
          python-version: ${{ matrix.python-version }}
          cache-key: unit

      - name: Typecheck
        run: uv run mypy

      - name: Test
        run: uv run pytest tests/unit --verbose --cov=earthaccess --cov-report=term-missing --capture=no --color=yes --tb=native --log-cli-level=INFO

      - name: Upload coverage
        # Don't upload coverage when using the `act` tool to run the workflow locally
        if: ${{ !env.ACT }}
        uses: codecov/codecov-action@v5
